@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;700&family=MedievalSharp&display=swap');

@font-face {
    font-family: 'tolkien';
    src: url('/src/assets/fonts/tolkien.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.game {
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
}

.main-title {
    font-family: 'tolkien', cursive;
    font-size: 54px;
    color: #FFD700;
}

.armies {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#army1,
#army2 {
    width: 340px;
    display: flex;
    flex-direction: column;
}

#army2 {
    align-items: flex-end;
}

#army1 h2,
#army2 h2 {
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
}

#logList {
    width: 660px;
    height: 480px;
    overflow: auto;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

#limit1,
#limit2 {
    font-family: 'El Messiri', sans-serif;
    outline: none;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    width: 50px;
    border-radius: 4px;
    padding: 10px 5px;
    margin-right: 10px;
}

#generateRandom1,
#generateRandom2 {
    font-family: 'El Messiri', sans-serif;
    outline: none;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    width: 150px;
    border-radius: 4px;
    padding: 10px 5px;
    margin-right: 10px;
    cursor: pointer;

}

#generateRandom1:hover,
#generateRandom2:hover {
    border: 1px solid #9a9a9a;
    background-color: #9a9a9a;
    color: #121212;
}

#battleLog h2 {
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.army-settings {
    margin-bottom: 20px;
}

.unit {
    font-family: 'El Messiri', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #2a2a2a;
}

.unitqty {
    font-size: 18px;
    font-family: 'El Messiri', sans-serif;
    display: flex;
    padding-bottom: 12px;
}

.unitqty2 {
    width: 100%;
    justify-content: flex-end;
}

.unit img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.unit__stats {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.unit__hp {
    font-size: 24px;
    color: #fff;
    height: 70px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#battle,
#autoResolve,
#reset {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
#battle:hover {
    background-color: #45a049; 
}

#autoResolve {
    background-color: #ffa500;; 
    margin-right: 10px; 
    margin-left: 10px;
}
  
#autoResolve:hover {
    background-color: #ffa500;; 
}
  
  /* Reset Button */
#reset {
    background-color: #3498db; /* Red */
  }
  
#reset:hover {
    background-color: #2980b9; /* Darker red on hover */
}

/* log */

.log-item {
    font-family: 'El Messiri', sans-serif;
    font-size: 18px;
    padding: 0px 4px;
    border-radius: 4px;
    background-color: #2a2a2a;
}

.log-name {
    color: #FFD700;
    font-weight: bold;
}

.log-dodge {
    color: #AEEEEE;
    font-weight: 700;
}

.log-id {
    color: gray;
}

.log-army {
    font-size: 14px;
    color: gray;
}

.log-defeated {
    color: #ff4343;
    font-weight: 700;
}

.log-damage {
    color: #ff4343;
    font-weight: 700;
}

.log-crit {
    color: #ffa500;
    font-weight: 700;
}

.log-charmed {
    color: #ca7ad8;
    font-weight: 700;
}